;coco_detect_tiny.config
[model]
dataset = coco
weights = ./dataset/coco/weights/yolov4-tiny.weights
config  = ./dataset/coco/cfg/yolov4-tiny.cfg
#weights = ./dataset/coco/weights/yolov4.weights
#config  = ./dataset/coco/cfg/yolov4.cfg
data    = ./dataset/coco/data/coco.data

[detection]
outputs   = ./dataset/coco/outputs_tiny
threshold=0.4
save_labels= True


